<%= form_with(model: board_message, local: true) do |form| %>
  <% if board_message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_message.errors.count, "error") %> prohibited this board_message from being saved:</h2>

      <ul>
      <% board_message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="field">
      <th><%= form.label :content %></th>
      <td><%= form.text_area :content, id: :board_message_content %></td>
    </tr>

    <tr class="field">
      <th><%= form.label :character_id %></th>
      <td><%= form.text_field :character_id, id: :board_message_character_id %></td>
    </tr>

    <tr class="field">
      <th><%= form.label :board_id %></th>
      <td><%= form.number_field :board_id, id: :board_message_board_id %></td>
    </tr>

    <tr class="field">
      <th><%= form.label :board_title %></th>
      <td><%= form.text_area :board_title, id: :board_message_board_title %></td>
    </tr>

    <tr class="actions">
      <th></th><td><%= form.submit data: {confirm: "保存してよいですか？", disable_with: "処理中…"} %></td>
    </tr>
  </table>
<% end %>
